@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
:root{
  --pfont: 'Bebas Neue', cursive;
  --sfont: 'Didact Gothic', sans-serif;
  --shadow: ;
  --color-1: #d5d5d5 ; /*Color blanco */
  --color-2: #090909 ;/*Color negro */
  --color-3: #3C58B7; /*Color principal fondo blanco */
  --color-4: rgb(0, 114, 255) ; /*Color principal fondo negro */
  --bgcolor1: #090909;
  --bgcolor2: #191C1C;
  --bgcolor3: #232323;
  --bgcolor4: #1B2223;
  --bgcolor5: #1D2B2C;
  --duration: .45s ;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);

  --bgcolor:  #E9A620;
  --shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
  --shadow2: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  --blue: #e92030;
  --span: rgb(102,148,240);
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  color: #fff;
}
body, h1{
  margin: 0;
}
body{
  font-family: var(--sfont);
  background: var(--color-2);
}
nav{
  background-color: rgba(0,0,0,0);
  font-family: var(--pfont);
  box-shadow: 0 0 0 0;
  display: flex;
  height: 64px ;
  overflow: hidden ;
}
header{
  position: sticky;
  top: 0;
  z-index: 999;
}
.navflex{
  background: var(--bgcolor2);
  justify-content: flex-end ;
}
.menu {
  margin-right: 5%;
  width: 28em;
  position: relative;
  display: flex ;
  height: 100% ;
  user-select: none ;
  align-items: center ;
  padding: 0 1.2em;
  justify-content: center ;
  /* From https://css.glass */

  border-radius: 0 0 1.5em 1.5em;
  max-width: 1250px;
  max-height: 860px;
  -webkit-tap-highlight-color: transparent ;
}
@media (max-width: 42.625em) {
  .menu {
    font-size: .55em ;
  }
}
.menu__item {
  all: unset ;
  flex-grow: 1 ;
  display: flex ;
  cursor: pointer ;
  overflow: hidden ;
  padding-top: 0.5em ;
  position: relative ;
  color: var(--color-1);
  justify-content: center ;
  transition: flex-grow var(--duration) var(--cubic) ;
}
.menu__icon {
  font-size: 2em;
  stroke: var() ;
  transition: transform var(--duration) var(--cubic) ;
}

.menu__item::after {
  left: -1.15em;
  bottom: 1em ;
  content: " " ;
  height: 0.25em ;
  position: absolute ;
  border-radius: 2em ;
  transform-origin: left center;
  background-color: var(--color-3) ;
  width: calc( var(--lineWidth) + 1px ) ;
  transform: translate3d(3em , 0, 0) scaleX(0) ;
  transition: transform calc( var(--duration) + .2s) var(--cubic) ;
}
.menu__text {
  left: 3.5em ;
  height: 4em;
  font-size: 1.5em ;
  color: var(--color-3);
  position: absolute ;
  text-transform: capitalize ;
  letter-spacing: .03em ;
  transform: translate3d(0, 109%, 0) ;
  transition: transform calc( var(--duration) / 3.7 ) ;
}
.menu__item.active {
  flex-grow: 2.6 ;
  color: var(--color-3) ;
}
.menu__item.active .menu__icon {
  transform: translate3d(-95% , 0, 0) ;
}
.menu__item.active::before {
  transform: scale(1) ;
}
.menu__item.active::after {
  transform: translate3d(6.3em , 0, 0) scaleX(1) ;
  transition: transform var(--duration) var(--cubic) ;
}
.menu__text.active {
  transform: translate3d(0 , 0, 0) ;
  transition: transform calc(var(--duration) / 1.5) ;
}
.icon {
  --duration-icon: 1s ;
  fill: none ;
  width: 2.5em ;
  height: 2.5em ;
  display: block ;
  stroke-width: 15 ;
  stroke-miterlimit: 10 ;
}
/* Presentacion */
.bg1{
  background-image: url(../img/bannerbg.png);
  background-position: top left;
  background-size: cover;
  margin-top: -64px;
}
.bg2{
  background: var(--bgcolor2);
  margin-bottom: -160px;
}
.bg3{
  background: var(--bgcolor3);
  margin-bottom: -.5em;
}
.bg4{
  background: var(--bgcolo4);
  margin-bottom: -.5em;
}
.bg5{
  background: var(--bgcolor5);
  margin-bottom: -.5em;
}
.container{
  width: 95%;
  max-width: 1200px;
  display: flex;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
}
h1{
  font-size: 63px;
  letter-spacing: 0.05em;
  font-family: var(--pfont);
  text-transform: uppercase;
}
h1 > span {
  background: linear-gradient(to bottom, #00c6ff 30%, #0072ff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  font-size: 35px;
  line-height: 1.3em;
}
#type2{
  color: var(--color-4);
}
h3{

  text-align: center;
  font-family: var(--pfont);
}
.lefted{
  color: var(--color-1);
  padding: 2em 0;
}
.lefted p{
  font-size: 20px;
  line-height: 1.6em;
}
.width70{
  margin-right: 8em;
  width: 60%;
}
.btn{
  display: flex;
  margin: 40px 0;
  justify-content: center;
  width: 185px;
  align-items: center;
  background: var(--color-4);
  border-radius: 16px;
  font-size: 22px;
  height: 55px;
  letter-spacing: .8px;
  font-family: var(--pfont);
  text-align: center;
  color: var(--color-1);
  transition: background-color .5s ease-out;
}
a i{
  margin-left: 5%;
}
.btn:hover, .btn:active{
  background: rgba(0, 60, 255, 0.7);
}
a.animated-button.victoria-three:after {
  background: #D24D57;
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
  height: 140%;
  opacity: 1;
}
.card-item{
  max-width: 430px;
  height: 200px;
  max-height: 200px;
  position: relative;
  width: 80%;
  z-index: 2;
}
.card-item__side{
  margin-top: 5%;
}
.card-item__about{
  max-width: 430px;
  max-height: 1000px;
  height: 500px;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .card-item {
    max-width: 310px;
    height: 220px;
    width: 90%;
  }
}
@media screen and (max-width: 360px) {
  .card-item {
    height: 180px;
  }
}
.card-item__bg {
  max-width: 100%;
  display: block;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.wave{
  height: 100px;
  width: 100%;
}

.notlittle{
  width: 50%;
  padding-right: 4em;
}
.little{
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-right: 4em;
}
.little a{
  font-size: 25px;
  font-family: var(--pfont);
  line-height: 1.6em;
  transition: color .3s ease-in;
}
.little a::before{
  content: '';
  display: inline-block;
  margin-right: 16px;
  margin-left: -25px;
  margin-bottom: 2px;
  background: var(--color-1);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: background-color .3s ease-in;
}
.little a.active, .little a:hover{
  color: var(--color-4);
}
.little a.active::before, .little a:hover::before{
  background: var(--color-4);
}


@media screen and (max-width:800px){
  .container{
    flex-wrap: wrap;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 30px;
  }
  .little, .notlittle{
    padding: 2em;
    width: 100%;
  }
  .lefted p{
    font-size: 20px;
    line-height: 1.6em;
  }
  .bg2{
    height: 80%;
  }
  .bg1 > .container > .righted{
    display: none;
  }
  .card-item__side{
    margin: auto;
  }
  .little{
    flex-direction: row;
  }
  .little a.active{
    margin-right: 2em;
  }
}
@media screen and (max-width:1050px){
  .navflex{
    justify-content: center ;
  }
  .menu{
    font-size: 12px;
    position: fixed;
    margin: 0;
    background: var(--color-1);
    height: 64px;
    bottom: 0;
    border-radius: 1em 1em 0 0;
  }
  .menu__text.active{
    color: var(--color-3);
  }
  .menu__icon{
    font-size: 3.5em;
  }
  .menu__item{
    color: var(--color-2) ;
  }
  .menu__item.active{
    flex-grow: 2.8;
    color: var(--color-3) ;
  }
  .bg1{
    margin: 0;
  }
  .width70{
    width: 100%;
    margin: 2em 0;
  }
}
