$primary: blue;
$pfont: 'Bebas Neue', cursive;
$sfont: 'Didact Gothic', sans-serif;
$border: 16px;
$duration: .45s;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$d: 700ms;
$e: cubic-bezier(0.19, 1, 0.22, 1);
//Colores
$color: #fafafa;
$color2: #d5d5d5;
$color3: #3C58B7;
$color4: #0082ff;
$color5: rgba(#ffffff, 0.07);
$hoverbg: #051D6B;
$pressbtn: #020E46;
$hoverbtn: #04185E;

$bg1color: #090909;
$bg2color: #191C1C;
$bg3color: #232323;
$bg4color: #1B2223;
$bg5color: #24292E;
$bg6color: #322E3A;

//Sombras
$shadow: 0 4px 20px -2px rgba(#2d4fdf, 0.5);
$shadow2:  0 4px 20px -2px #1c1e22;
$shadow3: 0 0 10px rgba(#000000, 0.6);
